<%- include('partials/header') %>
 
  <div class="container centered" style="background-color: none">
    <div class="container">
      <i class="fas fa-plane fa-7x"></i>
      <h1 class="display-3">Welcome to The Travel Agency!</h1>
      <p class="lead">Login/Register Here</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
    </div>
  </div>



<%- include('partials/footer') %>