html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.table td {
  vertical-align: middle;
}

.title {
  text-align: left;
  font-size: 60px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.col-md-5 images {
width: 100%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
